@import './dockview.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.b-dockview {
    --b-dockview-padding: .25rem;
    --b-dockview-tab-line-height: 21px;
    --b-dockview-tab-padding: 0 8px;
    --b-dockview-control-icon-width: 24px;
    --b-dockview-control-icon-color: var(--b-body-color, #212529);
    --b-dockview-control-icon-lock-color: #b5b5c3;
    --b-dockview-control-dropdown-padding-y: .25rem;
    --b-dockview-control-dropdown-item-padding-x: 0;
    --b-dockview-control-dropdown-item-padding-y: 3px;
    --b-dockview-aside-width: calc(1.5em + .25rem);
    --dv-tabs-and-actions-container-font-size: 13px;
    --dv-tabs-and-actions-container-height: 35px;
    --dv-active-sash-color: #bcbcbc;
    --b-border-width: 1px;
    --b-border-color: #dee2e6;
    --b-body-bg: #fff;
    --b-body-color: #212529;
    --b-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    width: 100%;
    height: 100%;
    border: var(--b-border-width) solid var(--b-border-color);
    position: relative;
}

    .b-dockview > div {
        --dv-tabs-and-actions-container-height: 30px;
        --b-dockview-tab-line-height: 30px;
        --b-dockview-tab-padding: 0 3px;
        --dv-tabs-and-actions-container-font-size: 12px;
    }

    .b-dockview .dv-resize-container {
        border: 1px solid var(--b-border-color);
    }

    .b-dockview .b-dockview-panel {
        height: 100%;
        width: 100%;
    }

    .b-dockview .dv-groupview > .dv-content-container, .dv-render-overlay {
        padding: var(--b-dockview-padding);
    }

    .b-dockview .b-dockview-item-title-icon {
        cursor: pointer;
    }

    .b-dockview .b-dockview-item-title {
        position: relative;
        display: flex;
        align-items: center;
    }

    .b-dockview .dv-tab .dv-default-tab {
        padding: var(--b-dockview-tab-padding);
    }

        .b-dockview .dv-tab .dv-default-tab .dv-default-tab-content {
            padding: var(--b-dockview-tab-padding);
            line-height: var(--b-dockview-tab-line-height);
        }

        .b-dockview .dv-tab .dv-default-tab .b-dockview-control-icon {
            display: flex;
        }

    .b-dockview .dv-tab.inactive-tab .dv-default-tab .dv-default-tab-action {
        visibility: visible;
    }

    .b-dockview .dv-tab:focus::after {
        outline-offset: 0;
    }

    .b-dockview.dockview-theme-light {
        --dv-separator-border: var(--b-border-color);
        --dv-background-color: var(--b-body-bg);
        --dv-floating-box-shadow: var(--b-box-shadow);
        --dv-tab-divider-color: var(--b-border-color);
    }

    .b-dockview.dockview-theme-dark {
        --b-dockview-control-icon-color: #dee2e6;
    }

    .b-dockview.dockview-theme-vs {
        --b-dockview-control-icon-color: #dee2e6;
    }

    .b-dockview.dockview-theme-abyss {
        --b-dockview-control-icon-color: #dee2e6;
    }

    .b-dockview.dockview-theme-dracula {
        --b-dockview-control-icon-color: #dee2e6;
    }

    .b-dockview .dv-tabs-and-actions-container .dv-tabs-container {
        overflow: hidden;
    }

    .b-dockview .dv-tabs-and-actions-container:has(.b-lock) .void-container {
        cursor: default;
    }

    .b-dockview .dv-tabs-and-actions-container:has(.b-lock) .drop-target > .drop-target-dropzone > .drop-target-selection {
        background-color: var(--dv-tabs-and-actions-container-background-color);
    }

    .b-dockview .dv-right-actions-container {
        display: flex;
        align-items: center;
        margin-right: .5rem;
    }

        .b-dockview .dv-right-actions-container > div {
            cursor: pointer;
        }

            .b-dockview .dv-right-actions-container > div:not(:first-child) {
                margin-left: .5rem;
            }

        .b-dockview .dv-tab-on > .dv-default-tab-content + .dv-default-tab-action,
        .b-dockview .dv-tabs-and-actions-container:has(.dv-tab-on) > .dv-right-actions-container > .b-dockview-control-icon-close,
        .b-dockview .dv-right-actions-container:not(.b-show-pin) .b-dockview-control-icon-pin,
        .b-dockview .dv-right-actions-container:not(.b-show-pin) .b-dockview-control-icon-pushpin,
        .b-dockview .dv-right-actions-container:not(.b-pin) .b-dockview-control-icon-pin,
        .b-dockview .dv-right-actions-container.b-pin .b-dockview-control-icon-pushpin,
        .b-dockview .dv-right-actions-container:not(.b-show-lock) .b-dockview-control-icon-lock,
        .b-dockview .dv-right-actions-container:not(.b-show-lock) .b-dockview-control-icon-unlock,
        .b-dockview .dv-right-actions-container:not(.b-lock) .b-dockview-control-icon-lock,
        .b-dockview .dv-right-actions-container.b-lock .b-dockview-control-icon-unlock,
        .b-dockview .dv-right-actions-container:not(.b-show-float) .b-dockview-control-icon-float,
        .b-dockview .dv-right-actions-container:not(.b-show-float) .b-dockview-control-icon-dock,
        .b-dockview .dv-right-actions-container:not(.b-float) .b-dockview-control-icon-dock,
        .b-dockview .dv-right-actions-container:not(.b-float) .b-dockview-control-icon-down,
        .b-dockview .dv-right-actions-container:not(:has(.dv-tab)) .b-dockview-control-icon-dropdown,
        .b-dockview .dv-right-actions-container .b-dockview-control-icon-dropdown li:not(:has(.dv-tab)),
        .b-dockview .dv-right-actions-container.b-float .b-dockview-control-icon-float,
        .b-dockview .dv-right-actions-container:not(.b-show-maximize) .b-dockview-control-icon-full,
        .b-dockview .dv-right-actions-container:not(.b-show-maximize) .b-dockview-control-icon-restore,
        .b-dockview .dv-right-actions-container:not(.b-maximize) .b-dockview-control-icon-restore,
        .b-dockview .dv-right-actions-container.b-maximize .b-dockview-control-icon-full {
            display: none;
        }

        .b-dockview .dv-tabs-and-actions-container:has(.b-lock) .dv-default-tab-content + .dv-default-tab-action span,
        .b-dockview .dv-right-actions-container.b-lock .b-dockview-control-icon-close > span,
        .b-dockview .dv-right-actions-container.b-lock .b-dockview-control-icon-float > span,
        .b-dockview .dv-right-actions-container.b-lock .b-dockview-control-icon-dock > span,
        .b-dockview .dv-right-actions-container.b-lock .b-dockview-control-icon-pin > span,
        .b-dockview .dv-right-actions-container.b-lock .b-dockview-control-icon-pushpin > span,
        .b-dockview .dv-groupview:has(.dv-resize-container) > .dv-tabs-and-actions-container > .dv-right-actions-container .b-dockview-control-icon-pin > span,
        .b-dockview .dv-groupview:has(.dv-resize-container) > .dv-tabs-and-actions-container > .dv-right-actions-container .b-dockview-control-icon-float > span,
        .b-dockview .dv-tabs-and-actions-container:has(.b-show-pin):has(.dv-right-actions-container:not(.b-pin)) + .dv-content-container .b-dockview .b-dockview-control-icon-pin > span,
        .b-dockview .dv-tabs-and-actions-container:has(.b-show-pin):has(.dv-right-actions-container:not(.b-pin)) + .dv-content-container .b-dockview .b-dockview-control-icon-float > span,
        .b-dockview .dv-tabs-and-actions-container:has(.b-show-float.b-float) + .dv-content-container .b-dockview .b-dockview-control-icon-pin > span,
        .b-dockview .dv-tabs-and-actions-container:has(.b-show-float.b-float) + .dv-content-container .b-dockview .b-dockview-control-icon-float > span {
            color: var(--b-dockview-control-icon-lock-color);
        }

    .b-dockview .b-dockview-control-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .b-dockview .b-dockview-control-icon > span.material-icons {
            width: var(--b-dockview-control-icon-width);
            height: var(--b-dockview-control-icon-width);
            font-size: var(--b-dockview-control-icon-width);
            color: var(--b-dockview-control-icon-color);
            line-height: var(--b-dockview-control-icon-width);
        }

    .b-dockview .b-up .b-dockview-control-icon-down > span {
        transform: rotate(180deg);
    }

    .b-dockview .b-dockview-control-icon-down > span {
        transition: transform .3s linear;
    }

    .b-dockview .b-dockview-control-icon-dropdown .dropdown-menu {
        --b-dropdown-padding-y: var(--b-dockview-control-dropdown-padding-y);
        --b-dropdown-item-padding-x: var(--b-dockview-control-dropdown-item-padding-x);
        --b-dropdown-item-padding-y: var(--b-dockview-control-dropdown-item-padding-y);
    }

.dv-split-view-container .dv-sash-container .dv-sash:not(.disabled):hover {
    transition-delay: unset;
    transition-duration: .3s;
}

.ribbon-body.ribbon-body > div,
.b-dockview .dv-split-view-container,
.b-dockview .dv-split-view-container .dv-view-container .dv-view {
    overflow: initial;
}

    .b-dockview .dv-split-view-container .dv-view-container > .dv-view > .dv-groupview:has(.dv-resize-container) {
        overflow: initial !important;
    }


.b-dockview > div:has(> .b-dockview-aside-left > div) {
    padding-left: var(--b-dockview-aside-width);
}

.b-dockview > div:has(> .b-dockview-aside-right > div) {
    padding-right: var(--b-dockview-aside-width);
}

.b-dockview .b-dockview-aside {
    position: absolute;
    height: 100%;
    top: 0;
    width: var(--b-dockview-aside-width);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.b-dockview .b-dockview-aside-left {
    left: 0;
    border-right: 1px solid var(--b-border-color);
}

.b-dockview .b-dockview-aside-right {
    right: 0;
    border-left: 1px solid var(--b-border-color);
}

.b-dockview .b-dockview-aside > .b-dockview-aside-button {
    position: relative;
    margin: .25rem 2px;
    padding-inline: .5rem;
    cursor: pointer;
    user-select: none;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: var(--dv-inactivegroup-visiblepanel-tab-color);
    border-radius: 5px;
}

    .b-dockview .b-dockview-aside > .b-dockview-aside-button:hover,
    .b-dockview .b-dockview-aside > .b-dockview-aside-button.active {
        color: var(--dv-activegroup-visiblepanel-tab-color);
        background-color: var(--dv-icon-hover-background-color);
    }

.b-dockview .b-dockview-aside-right > .b-dockview-aside-button:hover::after,
.b-dockview .b-dockview-aside-right > .b-dockview-aside-button.active::after {
    right: 0;
}

.b-dockview .dv-resize-container-drawer {
    height: 100% !important;
}

    .b-dockview .dv-resize-container-drawer:not(.active),
    .b-dockview .dv-render-overlay-float-drawer:not(.active) {
        z-index: -1 !important;
    }

.b-dockview .dv-resize-container.dv-resize-container-drawer.b-resize-container-right {
    box-shadow: -8px 8px 8px 0px rgba(83, 89, 93, 0.5);
}

    .b-dockview .dv-resize-container.dv-resize-container-drawer.b-resize-container-right > div:not(.dv-resize-handle-left):not(.dv-groupview-floating),
    .b-dockview .dv-resize-container.dv-resize-container-drawer.b-resize-container-left > div:not(.dv-resize-handle-right):not(.dv-groupview-floating),
    .b-dockview .dv-resize-container.dv-resize-container-drawer > .dv-groupview-floating > .dv-tabs-and-actions-container .b-dockview-control-icon-float,
    .b-dockview .dv-resize-container.dv-resize-container-drawer > .dv-groupview-floating > .dv-tabs-and-actions-container .b-dockview-control-icon-dock,
    .b-dockview .dv-resize-container.dv-resize-container-drawer > .dv-groupview-floating > .dv-tabs-and-actions-container .b-dockview-control-icon-down,
    .b-dockview .dv-resize-container:not(.dv-resize-container-drawer) > .dv-groupview-floating > .dv-tabs-and-actions-container .b-dockview-control-icon-pin,
    .b-dockview .dv-resize-container:not(.dv-resize-container-drawer) > .dv-groupview-floating > .dv-tabs-and-actions-container .b-dockview-control-icon-pushpin {
        display: none;
    }

.b-dockview .dv-tabs-and-actions-container:has(.dropdown-item) .dv-scrollbar-horizontal {
    display: none;
}

.b-dockview .dv-tab.dv-inactive-tab .dv-default-tab .dv-default-tab-action {
    visibility: visible;
}

.b-dockview .b-overflowHidden {
    overflow: hidden;
}

/* Material Icons specific styles */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
